<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    Logged in as <%= profile.screen_name %>
    <img src="<%= profile.profile_image_url_https %>" alt="<%= profile.screen_name %>" />

    <div id="main">

    </div>

    <script src="/javascripts/bundle.js"></script>
  </body>
</html>